PORT=4000
NODE_ENV=development
LOG_LEVEL=debug
DATABASE_URL="postgresql://username:password@localhost:5432/database"
SHADOW_DATABASE_URL="postgresql://username:password@localhost:5432/database_shadow"
JWT_SECRET=secret-key-at-least-32-characters-long
JWT_EXPIRES_IN=1d
WHITE_LIST_URLS=https://example.com,https://api.example.com,https://app.example.com